.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  width: 50%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.composePost {
  border: none;
  width: 100%;
  height: 5rem;
  overflow: scroll;
  resize: none;
}

.composePost::-webkit-scrollbar {
  display: none;
}
.composePost {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.composePost:focus {
  outline: none;
}
